.cartContainer{
  position: relative;
}
.cartDetails {
  background-color: white;
  border: solid 1px black;
  position: absolute;
  width: 30%;
  overflow: visible;
  z-index: 10;
  right: 0px;  
}

.cartDetails img {
  width: 3em;
  margin-top: 10px;
  transform: rotate(-5deg);
  transition: transform 0.2s ease-in-out;
  border-radius: 10%;
}

.closeCartButton {
  width: 1em;
  float: right;
  padding: 0;
  border: none;
  background: none;
}

.openCartButton {
  width: 1em;
  float: right;
  padding: 0;
  border: none;
  background: none;
}