.cartContainer{
  position: relative;
}
.cartDetails {
  background-color: var(--anyshore-grey);
  border: solid 1px black;
  position: absolute;
  width: 30%;
  overflow: visible;
  z-index: 1;
  right: 0px;  
}

.cartDetails img {
  width: 3em;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
  border-radius: 10%;
}

.closeCartButton {
  width: 1em;
  float: right;
  padding: 0;
  border: none;
  background: none;
}

.openCartButton {
  width: 1em;
  float: right;
  padding: 0;
  border: none;
  background: none;
}

.cartItem {
  font-size: 16px;
  float: left;
  padding-right: 1em;
  position: relative;
}

button.cartItem {
  border: none;
  border: solid 1px var(--anyshore-green);
  background-color: var(--anyshore-grey);
  max-width: 1em;
  filter: var(--anyshore-green-filter);
  border-radius: 32px;
}

.cartItem img.expertSelectedCheckmark {
  filter: var(--anyshore-green-filter);
}