.expertName {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .expertLabel {
    font-weight: bold;
  }
  
  .expertCard {
    position: relative;
    background-color: var(--anyshore-green);
    color: white;
    font-size: medium;
    padding-bottom: 1em;
    margin-bottom: 1em;
    height: 23.5em;
  }

  .expert-table-img {
    border-radius: 100%;
    margin-top: -1em;
    max-width: 75%;
    margin-left: 12.5%;
  }

  .expert-table-checkmark {
    width: 5%;
    padding: 0;
  }

  button.expertSelectedCheckmark {
    border: none;
    background: none;
  }
  
  .expertSelectedCheckmark img{
    width: 1.5em;
    margin-top: 1em;
    left: -0.5em;
    position: relative;
  }

  .bottom.row {
    position: absolute; 
    bottom: 1em;
    width: 100%;
    max-width: 100%;
    max-height: 1em;
  }

  .senior-label{
    border-radius: 4px;
    background: #D9D9DB;
    color:  #404040;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 4em;
    height: 1.5em;
    position: relative;
    left: 0;
    margin-left: 0.5em;
  }

  .moreInfoArrow {
    margin-bottom: 1em;
    position: relative;
    padding-left: 50%;
    max-width: 33%;
  }
  @media (max-width: 800px) {
    .moreInfoArrow {
      padding-left: 67%
    }
  }