
.expertName {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .expertLabel {
    font-weight: bold;
  }
  
  .expertCard {
    position: relative;
    background-color: var(--anyshore-green);
    color: white;
    font-size: medium;
    padding-bottom: 1em;
    margin-bottom: 3em;
    margin-left: 22px;
    height: 350px;
    font-family: Noto Sans;
  }
  
  button.expertSelectedCheckmark {
    border: none;
    background: none;
  }
  
  .expertSelectedCheckmark img{
    width: 2em;
    margin-top: 1em;
    left: -1em;
    position: relative;
  }

  .senior-label{
    border-radius: 4px;
    background: var(--Experis-lys-gr, #D9D9DB);
    color: var(--Experis-text, #404040);
    text-align: center;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 65px;
    height: 19px;
  }

  .expertDetailsButton{
    width: 35.014px;
    position: relative;
    border: 0;
  }
  .expertDetailsButton :hover{
    rotate: 5deg;
  }