.expertName {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .expertLabel {
    font-weight: bold;
  }
  
  .expertCard {
    position: relative;
    background-color: var(--anyshore-green);
    color: white;
    font-size: medium;
    padding-bottom: 1em;
    margin-bottom: 3em;
    margin-left: 1.5em;
    height: 23.5em;
  }
  
  button.expertSelectedCheckmark {
    border: none;
    background: none;
  }
  
  .expertSelectedCheckmark img{
    width: 1.5em;
    margin-top: 1em;
    left: 0.5em;
    position: relative;
  }

  .senior-label{
    border-radius: 4px;
    background: #D9D9DB;
    color:  #404040;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 4em;
    height: 1.5em;
  }

  .moreInfoArrow {
    margin-bottom: 1em;
  }