.modal-background {
    background-color: rgba(120, 120, 120, 0.7);
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: #ECECEC;
    color: white;
      padding-top: 2em;
    padding-left: 10px;
    padding-right: 2px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 100;
}

.modal-content img {
    position: relative;
    padding-left: 2em;
}