.modal-background {
    background-color: none;
    width: 100%;
    z-index: 1;
}

.modal-window {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
    background-color: var(--anyshore-grey);
    border-radius: 0;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 2;
    margin-top: 5em;
    position: relative;
}

@media (max-width: 800px){
    .modal-window {
        width: 100%;
        margin-left: 0%;
    }
}

.modal-textbox {
    margin-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    z-index: 3;
    background-color: var(--anyshore-grey);
}


#expertImage {
    border-radius: 100%;
    margin-bottom: 2em;
}

.expert-name {
    font-size: 32px;
    padding-top: 1em;
    display: inline-block;
    vertical-align: middle;
}

.role {
    font-size: 24px;
}

.main-button button{
    color: white;
    background-color: var(--anyshore-green);
}
.secondary-button button{
    color: var(--anyshore-green);
    border: var(--anyshore-green) solid 2px;
}

.modal-textbox button {
    border-radius: 32px;
    text-transform: none;
    height: 3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
}

.modal-window.expertSelectedCheckmark{
    filter: var(--anyshore-green-filter);
}

.modal-window button.expertSelectedCheckmark {
    filter: var(--anyshore-green-filter);
}