html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.pick-expert {
  width: 10px;
  left: 90%;
  top: 10%;
  border: 0;
}