html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-overlay-pick-expert-container {
  position: relative;
  text-align: center;
  z-index: 100;
  top:-50%;
  height: 100%;
}

.img-overlay-pick-expert-btn {
  position: relative;
  text-align: center;
  height: 100%;
}

.expert-table-img {
  width: 100%;
}