@{
    ViewData["Title"] = "AnyShore | Book ekspert";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css//normalize.css">
    <link rel="stylesheet" href="~/css//skeleton.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="~/css/expertCard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/htmx/htmx.1.9.6.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/no.js"></script>
</head>
<body>
    <header>
        <div class="section">
            <div class="container">
                <div class="row navbar">
                    <div class="two columns">
                        <a href="/home">
                            <img class="layoutLogo" src="images/Experis logo horizontal.svg"/>
                        </a>
                    </div>
                    <div class="nine columns">
                        <!-- Slogan -->
                        <div class="slogan">
                            <span>Få en ekspert på laget innen 24 timer</span>
                            <!-- Call-to-Action Button -->
                            <a href="/BookExpert" class="cta-button">Book en ekspert nå</a>
                        </div>
                    </div>
                    <div id="shoppingCartButton" class="one column" 
                         hx-get="Cart/MenuButton" 
                         hx-trigger="CartChanged from:body"></div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2023 - Experis AnyShore
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
