<div class="section">
    <div class="container">
        <nav class="navbar row" aria-label="Main Navigation" role="main">
            <div class="three columns">
                <img class="layoutLogo" src="images/Experis logo horizontal.svg"/>
            </div>
            <div class="nine columns">
                <div class="two columns">
                    <span>Våre&nbsp;tjenester</span>
                </div>
                <div class="two columns">
                    <span>Bransjer</span>
                </div>
                <div class="two columns">
                    <span>Partner</span>
                </div>
                <div class="two columns">
                    <span>Aktuelt</span>
                </div>
                <div class="two columns">
                    <span>Bli&nbsp;en&nbsp;av&nbsp;oss</span>
                </div>
                <div class="two columns">
                    <span>Om&nbsp;oss</span>
                </div>
                <div class="one column">
                    <span>Søk</span>
                </div>
            </div>
        </nav>
    </div>
</div>
