@model ExpertViewModel[];
<div id="cartContainer" class="cartContainer"
    hx-get="Cart"
    hx-target="#cartContainer"
    hx-swap="innerHTML"
    hx-select="#openCartButton"
    hx-trigger="load">
</div>
<div class="row">
    <div class="eight columns"><h2>Sett sammen ditt ekspertlag</h2></div>
    <div class="four columns">
        <label class="inputLabel" for="TechnologyFilter">Teknologi:</label>
        <select id="technologyFilter" class="inputValue u-full-width" 
                hx-trigger="change" 
                hx-get="ListExperts" 
                hx-target="#expertTable"
                hx-select="#expertTable"
                name="TechnologyFilter">
            <option value="">Alle</option>
            <option value=".net">.Net</option>
            <option value="java">Java</option>
            <option value="ux">UX</option>
            <option value="tester">Tester</option>
            <option value="python">Python</option>
            <option value="frontend">Frontend</option>
        </select>
    </div>
</div>
<div class="row" id="expertTable">
@foreach(var expert in Model)
{
    <div id="@expert.Id" class="three columns expertCard openModal" 
        hx-get="ExpertDetails/@expert.Id" 
        hx-target="#expertModalContainer" 
        hx-swap="innerHTML"
        hx-trigger="click target:.openModal">
        <div class="row">
            @if(expert.IsEditable)
            {
                <div id="editExpertPencil" class="expert-table-pencil" 
                    hx-get="EditExpert/@expert.Id"
                    hx-target="#expertModalContainer" 
                    hx-swap="innerHTML">
                    <img src="images/svg/pencil.svg" />
                </div>
            }
            <img src="images/@(expert.Id).jpg" class="expert-table-img u-max-full-width openModal" />
            <div id="selectExpert" class="expert-table-checkmark" 
                hx-get="Cart/Experts/@expert.Id"
                hx-trigger="load" 
                hx-target="this" 
                hx-swap="innerHTML" 
                hx-select="#buttonWithoutText_@expert.Id">
            </div>
        </div>
        <div class="row openModal">
            <span class="expertName openModal">@expert.FirstName @expert.LastName</span>
        </div>
        <div class="row openModal">
            <span class="expertLabel openModal">Teknologi: </span>
            <span class="expertAttribute openModal">@expert.Technology</span>
        </div>
        <div class="bottom row openModal">
            <div class="senior-label openModal">
                Senior
            </div>
            <div class="moreInfoArrow u-max-full-width openModal">
                <svg class="openModal" width="37" height="16" viewBox="0 0 37 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="openModal" d="M35.7214 8.70711C36.1119 8.31658 36.1119 7.68342 35.7214 7.29289L29.3574 0.928932C28.9669 0.538408 28.3337 0.538408 27.9432 0.928932C27.5527 1.31946 27.5527 1.95262 27.9432 2.34315L33.6001 8L27.9432 13.6569C27.5527 14.0474 27.5527 14.6805 27.9432 15.0711C28.3337 15.4616 28.9669 15.4616 29.3574 15.0711L35.7214 8.70711ZM0 9H35.0143V7H0L0 9Z" fill="white"/>
                </svg>
            </div>
        </div>
    </div>
}
</div>


<div id="expertModalContainer"></div>
<button class="submitButton" hx-get="Booking/Checkout" hx-target="#expertModalContainer" hx-swap="innerHTML">Gå til bestilling</button>