@model ExpertViewModel;
<div id="expertImage">
    <img id="expertImage" src="images/@(Model.Id).jpg" class="u-max-full-width" />
</div>
<div id="expertName">
    <span class="expert-name">@Model.FirstName @Model.LastName</span><br />
</div>