<div id="ID" class="three columns expertCard" onclick="ToggleExpertSelected(this)">
    <div class="two columns">&nbsp;</div>
    <div class="eight columns"><img src="IMAGELINK" class="expert-table-img u-max-full-width">
        <i class="selectedExpertCheckmark img-overlay-pick-expert-btn"></i>
    </div>
    <div class="two columns">&nbsp;</div>
    <div class="twelve columns">
        <span class="expertLabel">Navn: </span>
        <span class="expertAttribute"> NAVN</span></div>
    <div class="twelve columns"><span class="expertLabel">Teknologi: </span>
        <span class="expertAttribute">TEKNOLOGI</span>
    </div>
    <div class="twelve columns"><span class="expertLabel">Teknologi: </span>
        <span class="expertAttribute">TEKNOLOGI</span>
    </div>
    <div class="twelve columns bottom"><span class="expertLabel">Rolle: </span>
        <span class="expertAttribute">ROLLE</span>
    </div>
</div>