<div id="expertModal" class="modal modal-background" onclick="HideExpertInfoModal()">  
    <div class="four columns">&nbsp;</div>
    <div class="modal-content four columns" onclick="(function(event){event.stopPropagation()})">
        <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="eight columns">
                <img src="" class="u-max-full-width" />
            </div>
        </div>
        <div class="row">
            <h3>Expert Name</h3>
        </div>
        <div class="row">
            <p>Expert Description</p>
        </div>
        <div class="row">
            <span class="role">Expert Role</span>
        </div>
        <div class="row">
            <span class="technology">Expert Technology</span>
        </div>
    </div>
</div>