@{
    ViewData["Title"] = "AnyShore | Book ekspert";
}
@model BusinessModels.Expert[]
@using (Html.BeginForm("Book", "BookExpert", FormMethod.Post))
{
    <div class="section">
        <div class="container">
            <div class="row form-row">
                <div class="four columns">
                    <label for="ExpertType">Type ressurs:</label>
                    <select name="ExpertType" name="" class="u-full-width">
                        <option value=".net">.Net</option>
                        <option value="java">Java</option>
                        <option value="ux">UX</option>
                        <option value="tester">Tester</option>
                        <option value="python">Python</option>
                        <option value="frontend">Frontend</option>
                    </select>
                </div>
                <div class="four columns">
                    <label for="ExpertRole">Rolle:</label>
                    <select name="ExpertRole" class="u-full-width">
                        <option value="leader">Prosjektleder</option>
                        <option value="senior">Senior</option>
                        <option value="junior">Junior</option>
                    </select>
                </div>
                <div class="four columns">
                    <label for="TimePeriod">Forventet periode:</label>
                    <input type="text" name="TimePeriod" value=""/>
                </div>
            </div>
            <div class="row form-row light-blue" id="expertTable">
                <!-- placeholder for json from controller -->
            </div>

            <input id="SelectedExpertsJsonInput" type="hidden"/>
            <div class="row form-row">
                <div class="twelve columns full u-full-width">
                    <label for="Description">Beskrivelse av prosjektet:</label>
                    <textarea class="u-full-width" type="text" name="Description" value=""></textarea>
                </div>
            </div>
            <div class="row form-row light-blue">
                <div class="four columns"></div>
                <div class="four columns">
                    <label for="BookerEmailAddress">Din Epostadresse:</label>
                    <input type="text" name="BookerEmailAddress" value="" />
                </div>
            </div>
            <div class="row form-row">
                <div class="twelve columns">
                    <input type="submit" class="button-primary" value="Bestill"/>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $('input[name="TimePeriod"]').daterangepicker();
        function fetchExperts() 
        {
            $.ajax({
                url: '/ListExperts/JsonData',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#expertTable').empty();
                    $.each(JSON.parse(data), function (index, expert) {
                        row = '<div class="one-third column expertCard">';
                        row += '<div class="two columns">&nbsp;';
                        row += '</div>';
                        row += '<div class="eight columns">';
                        row += '<img src="images/'+expert.Id+'.jpg" class="expert-table-img u-max-full-width" />';
                        row += '</div>';
                        row += '<div class="two columns">&nbsp;';
                        row += '</div>';
                        row += '<div class="twelve columns">';
                        row += '<span class="expertLabel">Navn: </span>'+
                            '<span class="expertAttribute"> '+
                                expert.FirstName +' '+ expert.LastName +
                            '</span>';
                        row += '</div>';
                        row += '<div class="twelve columns">';
                        row += '<span class="expertLabel">Rolle: </span>'+
                            '<span class="expertAttribute"> '+
                                expert.Role +
                            '</span>';
                        row += '</div>';
                        row += '<div class="twelve columns">';
                        row += '<span class="expertLabel">Teknologi: </span>' +
                            '<span class="expertAttribute"> '+ expert.Technology +
                            '</span>'
                        row += '</div>';
                        row += '</div>';

                        $('#expertTable').append(row);
                    });
                },
                error: function () {
                    console.error('Error fetching JSON data.');
                }
            });
        };
        $(document).ready(function() {
            fetchExperts();
            $('#fetchDataButton').click(function () {
                fetchExperts();
            });
        });
   </script>
}