@{
    ViewData["Title"] = "AnyShore | Book ekspert";
}
@using (Html.BeginForm("Book", "BookExpert", FormMethod.Post))
{
    <div class="section">
        <div class="row form-row">
            <div class="four columns">
                <label class="inputLabel" for="TimePeriod">Forventet periode:</label>
                <input class="inputValue" type="text" name="TimePeriod" value=""/>
            </div>
            <div class="four columns">
                <label class="inputLabel" for="ExpertRole">Rolle:</label>
                <select class="inputValue u-full-width" name="ExpertRole" class="u-full-width">
                    <option value="">Alle</option>
                    <option value="leader">Prosjektleder</option>
                    <option value="senior">Senior</option>
                    <option value="junior">Junior</option>
                </select>
            </div>
            <div class="four columns">
                <label class="inputLabel" for="ExpertType">Teknologi:</label>
                <select class="inputValue u-full-width" name="ExpertType" name="" class="u-full-width">
                    <option value="">Alle</option>
                    <option value=".net">.Net</option>
                    <option value="java">Java</option>
                    <option value="ux">UX</option>
                    <option value="tester">Tester</option>
                    <option value="python">Python</option>
                    <option value="frontend">Frontend</option>
                </select>
            </div>
        </div>
        <div class="row form-row" id="expertTable">
            <!-- placeholder for json from controller -->
        </div>
        @{ await Html.RenderPartialAsync("_ExpertModal"); }
        <input id="SelectedExpertsJsonInput" name="SelectedExpertsJson" type="hidden" value="" />
        <div class="row form-row">
            <div class="twelve columns full u-full-width">
                <label for="Description">Beskriv prosjektet:</label>
                <textarea class="u-full-width" type="text" name="Description" value=""></textarea>
            </div>
        </div>
        <div class="row form-row light-blue">
            <div class="four columns"></div>
            <div class="four columns">
                <label for="BookerEmailAddress">Din Epostadresse:</label>
                <input type="text" name="BookerEmailAddress" value="" />
            </div>
        </div>
        <div class="row form-row">
            <div class="twelve columns">
                <input type="submit" class="button-primary" value="Bestill"/>
            </div>
        </div>
    </div>            
}
@section scripts {
    <script>
        $('input[name="TimePeriod"]').daterangepicker();
        let selectedExpertsJson = [];
        let availableExpertsJson = []; 
        const selectedExpertsJsonInput = document.getElementById("SelectedExpertsJsonInput");
        
        function fetchExperts() 
        {
            $.ajax({
                url: '/ListExperts/JsonData',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    availableExpertsJson = JSON.parse(data);
                    $('#expertTable').empty();
                    $.each(availableExpertsJson, function (index, expert) {
                        $.get('/templates/bookExpert/_ExpertListCard.html', function (template) {
                            var cardHtml = template.replace(/{ExpertId}/g, expert.Id)
                                                   .replace(/{ExpertName}/g, expert.FirstName + ' ' + expert.LastName)
                                                   .replace(/{ExpertRole}/g, expert.Role)
                                                   .replace(/{ExpertTechnology}/g, expert.Technology);
                            $('#expertTable').append(cardHtml);
                        });
                    });
                },
                error: function () {
                    console.error('Error fetching JSON data.');
                }
            });
        };
        $('#expertDetailsButton').on('click', '.expertCard', function () {
            var expertId = $(this).attr('id');
            ShowExpertInfoModal(expertId);
        });

        function ShowExpertInfoModal(clickedElement, expertId){
            console.log("Clicked expert ID: " + expertId);
            let indexOfExpert = availableExpertsJson.findIndex(item => item.Id === expertId);
            if(indexOfExpert > -1)
            {
                let expert = availableExpertsJson[indexOfExpert];
                $('#expertModal img').attr('src',"images/"+expert.Id+".jpg");
                $('#expertModal h3').text(expert.FirstName+" "+expert.LastName);
                $('#expertModal p').text(expert.Description);
                $('#expertModal .role').text("Rolle: " + expert.Role);
                $('#expertModal .technology').text("Teknologi: " + expert.Technology);
                $('#expertModal').show();
            }
            
        };

        function HideExpertInfoModal(){
            $('#expertModal').hide();
        }
        function ToggleExpertSelected(clickedElement, expertId){
            let indexOfExpert = selectedExpertsJson.findIndex(item => item.Id === expertId);
            if(indexOfExpert > -1){
                selectedExpertsJson = selectedExpertsJson.splice(indexOfExpert, 1);
            }else{
                let indexOfExpert = availableExpertsJson.findIndex(item => item.Id === expertId);
                if(indexOfExpert > -1)
                {
                    selectedExpertsJson.push(availableExpertsJson[indexOfExpert]);
                }
            }
            selectedExpertsJsonInput.value = JSON.stringify(selectedExpertsJson);
            clickedElement.classList.toggle("clicked");
        };
        $(document).ready(function() {
            availableExpertsJson = fetchExperts();
            $('#fetchDataButton').click(function () {
                availableExpertsJson = fetchExperts();
            });
        });
   </script>
}