<div class="section">
    @{ await Html.RenderPartialAsync("_BookExpertForm"); }
    <div ></div>
    <div class="row form-row">
        <div class="twelve columns">
            <button id="submit-button" type="submit" class="submitButton loading" >Bestill</button>
        </div>
    </div>
</div>
<input type="hidden" value="" name="CartId" id="CartId"/>
@section Scripts
{
    <script>
        $('form').submit(function(event){
            $('.submitButton').prop('disabled', true);
            $('.submitButton').html(". . .");
        })
    </script>
}