<section class="how-it-works">
    <h2>Slik fungerer det</h2>
    <ol>
        <li>Velg ekspert</li>
        <li>Legg til prosjektdetaljer</li>
        <li>Bekreft bestilling</li>
    </ol>
</section>
<section class="why-choose-us">
    <h2>Hvorfor velge oss?</h2>
    <ul class="benefits-list">
        <li>
            Rask booking 
        </li>
        <li>
            Direkte kontakt med eksperter
        </li>
        <li>
            Arbeidet begynner innen 24 timer
        </li>
    </ul>
</section>