@model BusinessModels.Cart;
<div id="cartItemsList" hx-get="../Cart/Details" hx-trigger="CartChanged from:body"
     hx-target="this" >
    <span hx-get="" 
        hx-swap="delete"
        hx-target="#cartItemsList">
        x
    </span>
    @foreach (string item in Model.ExpertIds)
    {
        <div class="openModal" 
        hx-get="ExpertDetails/@item" 
        hx-target="#expertModalContainer" 
        hx-swap="innerHTML"
        hx-trigger="click target:.openModal">
            <span>@item</span>
            <img src="images/@(item).jpg" class="expert-table-img u-max-full-width openModal" />
            
             @{ await Html.RenderPartialAsync("../Cart/_removeFromCartCheckmark", item); }  
        </div>
        
    }
</div>