@model string
<form hx-post="Cart/Remove/@Model"
      hx-swap="outerHTML"
      hx-target="this">
    <button type="submit" class="expertSelectedCheckmark">
        <img id="checkmark" class="expertSelectedCheckmark" src="images/svg/checkmark.svg" />
    </button>
</form>